fastapi
uvicorn[standard]
pydantic
pydantic-settings
motor
qdrant-client
upstash-redis
google-genai
langgraph
langchain-core
python-jose[cryptography]
httpx
langchain-qdrant
langchain-google-genai
langchain-community
python-dotenv
pypdf
